
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    /* justify-content:flex-start; */
}
.poll{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    background:rgb(21,32,43);
    padding:10px;
    font-size:1.5rem;


}
.poll input{
    font-size:1.5rem;
    padding:10px;
    margin-bottom: 5px;
    border-radius: 20px;


}
.choice{
    padding-bottom:10px;
}
.question{
    margin-bottom:10px;
}
.svgbutton{
    align-items:center;
    justify-content: center;
    text-decoration: none;
    background-color:inherit;
    border:none;
    border-radius:40px;
    height:40px;
    width:40px;

 

}
.svgbutton:active{
    border:none;
}

.otherbutton{
    display:flex;
    align-items:center;
    
    }