form{
    display:flex;
    flex-direction: column;
    width:40%;
    padding:10px;
}
.question{
    margin-bottom:10px;
    border-bottom: 1px solid rgb(255, 255, 255,0.2);
    font-size:1.7rem!important;
    padding-bottom:10px;
    font-weight:bold;                                                                 
}
label{
    font-size:1.5rem;
    padding-bottom:10px;
    cursor:pointer;
    border-radius:20px;
    transition:200ms;
}
label:hover{
    background-color:rgba(255,255,255,0.2)
}
form button{
    width:40% !important;
}

.container{
    justify-content:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.pie{
    margin-top:10px;
    height: 200px;

}
